.contact {
    display:flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    padding: 0 5rem;
    flex-direction: row;
}

@media (max-width:568px) {
    .contact {
        flex-direction: column!important;
        padding: 1rem 0!important;
    }
    .custominfo {
        display:none!important;
    }
    .detailcontact {
        width:100% !important;
  
    }
}
.detailcontact {
    width: 50%;

    overflow: hidden;
    display: flex;
}
.detailcontact > img {
    margin: auto;
    
}
.detailcontact > div {
    width: 95%;
    margin: 0 auto;
    
}
.formPrimary > table {
    width: 86%;
     margin: auto;
}
.formPrimary > table > tbody tr {
    height: 42px;
}
.formPrimary > table > tbody tr td {
    color: var(--color-p);
    font-family: "Play";
    text-transform: uppercase;
    font-size: 16px;

 
   
}
.formPrimary > table > tbody tr > td:nth-child(2) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.664);
    border-bottom-style: dashed;
}
.formPrimary > table > tbody tr td span {
    font-size:0.95rem;
    font-weight: bold;
    font-family: 'Play';
  
    padding: 0;
}
.formPrimary > table > tbody tr td input {
    
    border:none;
    background: unset;
   
   
    width: 100%;
    padding: 0.5rem 0.25rem;
    box-sizing: border-box;
    font-family: "Jose";
    font-weight: 700;
}
.formPrimary > table > tbody tr td textarea {
    width: 100%;
    outline: none;
    border: none;
    background: #2c430c08;
    padding: 1rem;
    font-family: "Jose";
    border: 1px solid #2c430c1c;
    border-style: dashed;
    box-sizing: border-box;
}
.formPrimary > table > tbody tr td input:focus {
    border:none;
    outline: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}
.formPrimary >  button {
    border: 1px solid black;
    padding: 0.75rem 2.0rem;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Jose';
    font-size: 16px;
    background: unset;
    display:block;
    margin: 0 auto;
    margin-top:1rem;
}
.detailcontact > div > h2 {
    text-align:center;
    font-size:2rem;
    color:var(--color-brodard);
    margin-bottom: 0;
    max-width: 72%;
    margin: 0 auto;


}
.detailcontact > div > div {
    display:block;
    width:fit-content;
    height:fit-content;
    margin: 0 auto;
    position: relative;
}
.detailcontact > div > div > span {
    display:flex;
}
.detailcontact > div > div > span > svg {
    display:block;
}
.detailcontact > div > div > span h2 {
    font-family:"Play";
    font-size:2rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    color:var(--color-brodard);
    
}
.detailcontact > div > div a {
    font-family:"Jose";
    font-size:2rem;
    margin: 0;

}
.custominfo {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}
.custominfo > div {
    position: relative;
    padding: 1rem 0;
}
.custominfo > div > span {
    max-width:200px;
    display: block;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
}
.contentStyle {
    font-family: "Play";
    font-weight: 600;
    font-size: 12.4px;
    line-height: 142%;
    padding: 0.5rem 1rem;
    color: var(--color-p);
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
}




