.footer {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--color-brodard);
}
.footer * {
    color:white;
}
.content {
    display:flex;
    flex-direction:row;
   
}
@media (max-width:568px) {
    .content {
        flex-direction: column !important;
    }
  
}
.infocontent {
  
}
.infocontent > div {
    max-width: 280px;
    background-color: aliceblue;
    
    padding: 0.5rem;
    display: block;
   
}
.content > div:nth-child(n) {
    width: 50%;
    padding: 2rem;
  
    height: fit-content;
}
.more {
    text-align: center;
}
.content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.content ul li p {
    margin: 0;
}
.menutreo ul li button {
    outline:none;
    background-color: transparent;
    border: none;
}