.banner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoonbanner {
 
}
.banner h2 {
  
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.banner p {
   
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}
.banner .btngr button {
    border: 1px solid black;
    padding: 1rem 2rem;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Jose';
    font-size: 18px;
    background: unset;
    margin-left: 1rem;
}


.gallery {
    display: flex;
}
.sampleImg {
    padding:10px;
    width: 400px;
    height:400px;
    overflow: hidden;
}

.infobrodard {
    position:relative;
    height: fit-content;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infotext {
    max-width: 68vw;
    padding: 0 2rem;
    position: relative;
    z-index: 5;
}
.bghoatiet {
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;

}
.bghoatiet > img:nth-child(n) {
    position:absolute;
    width:100px;
    height:auto;
}
.bghoatiet > img:nth-child(1) {
    right: -50px;
    bottom: 42px;
    width: 300px;
    transform: rotate(-90deg);
    transform-origin: center center;
  
}
.bghoatiet > img:nth-child(2) {
    bottom:-70px;
    width:300px;
    left:-50px;
    transform-origin: center center;
    transform: rotate(-29deg);
  
}

.listbox > h2 {
 
    font-size: 42px;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

}
.listbox > div {
    
}
.listbox > div > div:nth-child(n) {
    
    overflow:hidden;
 
    position:relative;
    padding-bottom: 150px;/* Because use 1 grid , and control position base grid column/row .listbox > div > div:nth-child(3) */
}
.listbox > div > div:nth-child(n) > div:nth-child(2) {
    position: relative;
    top: -64px;
}

.listbox > div > div:nth-child(3) > div:nth-child(2) {
    top: -181px !important;
}
.listbox > div > div:nth-child(n) > div:nth-child(2) > h3 {

    font-size: 2rem;
    color: var(--color-brodard);
    text-transform: uppercase;
    margin: 1rem 0 0 0;

}

.listbox > div > div:nth-child(n) > div:nth-child(2)  > p {
   margin: 0;
   font-size: 1.5rem;
 
}
.listbox > div > div:nth-child(n) > div:nth-child(2)  > button {
    margin: 0.5rem 1rem 0 1rem;

    background: unset;
    color: var(--color-p);
    border: 1px solid rgba(49,72,30,255);
    padding: 1rem 2rem;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Jose';
    font-size: 18px;
    background: unset;


 }
.listbox > div > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row:1;
    text-align: left;
}

.listbox > div > div:nth-child(2) {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row:1;
    text-align: right;

}

.listbox > div > div:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row:1;
    top:250px;
    text-align: right;  
}


.listbox > div > div:nth-child(4) {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row:2;
}

.listbox > div > div:nth-child(5) {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row:2;
}



.contentbanhle {
    width: 72%;
    height: auto;
 
    height:fit-content; 
    position: relative;
}

.contentbanhle > h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
.contentbanhle > button {
    border: 1px solid black;
    padding: 1rem 2rem;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Jose';
    font-size: 18px;
    background: unset;
    margin-left: 1rem;
}
.contentbanhle p {
    max-width: 70%;
    margin: 0;
    line-height: 145%;
    font-size: 1rem;
    padding: 0 0 2rem 1rem;
}
.infobanhle  {
    width:50%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    height: 420px;
    justify-content: space-around;
}

.detailbanhle {
    height: fit-content;
}

.itemcombo {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin-top: 42px;
    position: relative;
}

.itemcombo > div:nth-child(1) {
    width: 36%;
}
.itemcombo > div:nth-child(2) {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itemcombo > div:nth-child(2) > h2 {
    font-family:"Play";
    font-size: 39px;
    font-weight: 400;
    margin:0;
    letter-spacing: 0em;
    text-align: center;
    
}
.itemcombo > div:nth-child(2) > p {
    font-family: "Jose";
    font-size: 16px;
    font-weight: 300;

    letter-spacing: 0em;
    text-align: center;
    max-width: 64%;
    margin: 0 auto;
    
    
}
.itemcombo > div:nth-child(3) {
    width: 100%;
}